/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

/* BODY */
body{

    background:
    linear-gradient(
        135deg,
        #ffd6e7,
        #fff0f5
    );

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;
}

/* CONTENEDOR */
.contenedor{

    width:400px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:
    0 5px 20px rgba(0,0,0,0.2);
}

/* TITULO */
h1{

    text-align:center;

    color:#d45d8c;

    margin-bottom:30px;
}

/* INPUT */
input{

    width:100%;

    padding:12px;

    margin:10px 0;

    border-radius:10px;

    border:2px solid #f3bfd1;

    font-size:16px;
}

/* BOTONES */
button{

    width:100%;

    padding:12px;

    margin-top:10px;

    border:none;

    border-radius:10px;

    color:white;

    font-size:16px;

    cursor:pointer;
}

/* LOGIN */
.btn-login{
    background:#7bc043;
}

/* REGISTRO */
.btn-registro{
    background:#d45d8c;
}

/* MENSAJES */
.mensaje{

    margin-top:15px;

    padding:10px;

    border-radius:8px;

    text-align:center;

    display:none;
}

/* EXITO */
.exito{

    background:#d4edda;

    color:#155724;
}

/* ERROR */
.error{

    background:#f8d7da;

    color:#721c24;
}